
body {
  background-color: #dcd6f7;
}
.counter-title{
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
    font-family: "Solitreo", cursive;
    font-weight: 400;
    font-style: normal;
    color: #4e4c67;
}
.counter-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #985f6f;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.rows h2,.stitches h2 {
  text-transform: capitalize;
  color: #f5f5dc;
  text-align: center;
  font-size: 35px;
  font-family: "Solitreo", cursive;
  font-weight: 400;
  font-style: normal;
}
.rows {
  border-right: #f5f5dc 3px solid;
}
.stitches,
.rows {
  padding: 30px 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.count {
  min-width: 50px;
  min-height: 50px;
  width: 5vw;
  height: 5vh;
  border-radius: 10px;
  background-color: #a6b1e1;
  margin: auto;
  color: #f5f5dc;
  text-align: center;
  font-size: 25px;
  font-family: "Solitreo", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 55px;
}
.buttonCounter {
  width: fit-content;
  border: none;
  background-color: #b4869f;
  color: #f5f5dc;
  font-size: 27px;
  font-family: "Solitreo", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 35px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.resetCount {
  background-color: #4e4c67;
  width: 100px;
  height: 30px;
  font-size: 27px;
  font-family: "Solitreo", cursive;
  font-weight: 400;
  font-style: normal;
  color: #f5f5dc;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  position: absolute;
    top: 80vh;
    left: 50%;
    transform: translate(-50%);
}
.changeTooltip{
  background-color: #674c65 !important;
}
.changeBTN{
  background-color: #b4869f !important;
border-radius: 50% !important; 
width: 60px;
height: 60px;
position: absolute !important;
top: 150px;
left: 70px;
}