*{
    margin: 0;
    padding: 0;}
body{
    background-color: #dcd6f7;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#985f6f ;
height: max-content;
width: 80%;
border-radius: 10px;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
gap: 10px;
}
h2{
    text-transform: capitalize;
    color: #f5f5dc;
    text-align: center;
margin-top: 5vh;
font-size: 2.5rem;
font-family: "Solitreo", cursive;
font-weight: 400;
font-style: normal;
}
.rows{
padding-bottom: 30px;
    border-right: #f5f5dc 3px solid;
}
.count{
    width: 7vw;
        height: 7vw;
        border-radius: 10px;
    background-color: #a6b1e1;
    margin: auto;
    color: #f5f5dc;
    text-align: center;
    font-size: 5vw;
    font-family: "Solitreo", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 7vw;
}
.button{
    width: max-content;
  border: none;
    background-color: #b4869f;
    color: #f5f5dc;
    font-size: 3.5vw;
    font-family: "Solitreo", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
margin-top: 5vw;
margin-left: 50%;
transform: translateX(-50%);
}
.reset{
    background-color: #4e4c67;
    width: 100px;
    height: 30px;
    font-size: 1.5rem;
    font-family: "Solitreo", cursive;
    font-family: 400;
    font-style: normal;
    color: #f5f5dc;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
text-align: center;
line-height: 5vw;
border: none;
}